In [32]:
import psycopg2
import sys

In [33]:
con=psycopg2.connect("dbname=Automoblie_Company user=postgres password=*******")

In [34]:
cu=con.cursor()

In [35]:
def Int_input():
    flag=input("Is input int?  Type Yes else insert any key: ")
    print("type input parameter")
    if flag=="Yes":
        a=input("Type the parameter: ")
        a=int(a)
    else:
        a=input("Type the parameter: ")
    return a ;

In [36]:
selection=input(" Press 1 for Entity Managment \n Press 2 for Entity Search \n Press 3 to perform specific query \n ")
selection=int(selection)

 Press 1 for Entity Managment
 Press 2 for Entity Search
 Press 3 to perform specific query
 3

Found this way without using sys

In [37]:
if selection==1 or selection==2:
    print("Select entity")
    ent_choice=input(' Press 1 for Dealer \n Press 2 for Customer \n Press 3 for Options \n Press 4 for Vehicle \n Press 5 for Brand \n Press 6 for Model \n')
    ent_choice=int(ent_choice)
    Ent_dict={}
    Ent_dict[1]="Dealer"
    Ent_dict[2]="Customer"
    Ent_dict[3]="Options1"
    Ent_dict[4]="Vehicle"
    Ent_dict[5]="Brand"
    Ent_dict[6]="Model"
    Ent_command= Ent_dict[ent_choice]
    cu.execute("Select * from "+ Ent_command)
    results=cu.description
    cu=con.cursor()
    fields=[]
    for i in range(len(results)):
        fields.append(results[i][0])
        fields.append(',')   
    a="%s,"*len(results)
    a=a[:len(a)-1]

    fields=' '.join(word for word in fields)
    fields=fields[:len(fields)-1]

We have table name and only need the fields and the input

   Managment selection

In [38]:
if selection==1:
    
    insdel_choice=input(" Press 1 to  insert entity \n Press 2  to delete entity \n Press 3  to update entity  : ")
    insdel_choice=int(insdel_choice)
    print("Entity fields are: ",fields)
    if insdel_choice==1:
        queryInsert="INSERT INTO "+ Ent_command + " (" + fields + ") VALUES (" + a + ")"
        Param_inputs=[]
        for i in range(len(results)):      #inputs for every param
            Param_inputs.append(Int_input())
    
        if len(results)==2:
            cu.execute(queryInsert,(Param_inputs[0], Param_inputs[1]))
        elif len(results)==3:
            cu.execute(queryInsert,(Param_inputs[0], Param_inputs[1], Param_inputs[2]))  
        elif len(results)==4:
            cu.execute(queryInsert,(Param_inputs[0], Param_inputs[1], Param_inputs[2], Param_inputs[3]))  
        elif len(results)==5:
            cu.execute(queryInsert,(Param_inputs[0], Param_inputs[1], Param_inputs[2], Param_inputs[3], Param_inputs[4]) )   
        elif len(results)==6:
            cu.execute(queryInsert,(Param_inputs[0], Param_inputs[1], Param_inputs[2], Param_inputs[3], Param_inputs[4], Param_inputs[5]) )   
        elif len(results)==7:
            cu.execute(queryInsert,(Param_inputs[0], Param_inputs[1], Param_inputs[2], Param_inputs[3], Param_inputs[4], Param_inputs[5], Param_inputs[6]))    

           
            
    elif insdel_choice==2:
        command= input("Type something like Country='France' \n ")
        queryDel="DELETE FROM "+ Ent_command + " Where " + command + ';'    
        cu.execute(queryDel)
   
    elif insdel_choice==3:    
        commandU= input("Type something like SET column1 = value1, column2 = value2, ... WHERE condition \n ")
        queryUpd="UPDATE "+ Ent_command + " SET " + commandU + ';'
        cu.execute(queryUpd)
        
con.commit()

Search selection

In [39]:
if selection==2:
    for i in range (len(results)):
        print( "Search Entity " + Ent_command +" using field:  " +   results[i][0] )
    selected_field= input("Type field : ")
    select_query="SELECT  *  FROM  " + Ent_command + "  WHERE  " + selected_field + " = " +  input("Something like 'France' or 124: ") 
    cu=con.cursor()
    cu.execute(select_query)
    print("\n The results are: ")
    print(cu.fetchall())

Specific queries:

In [43]:
if selection==3:
    queryDict={}
    queryDict[1]="select c_name as customer_name ,c_surname, d_name as dealer_name,buyed_num as Car_purchases from Customer inner join Dealer on Customer.d_id=Dealer.d_id where buyed_num=(select max(buyed_num) from customer);"
    queryDict[2]="select cost as Biggest_Price ,m_name as Model_name, b_name as Brand_Name,d_name as Dealer_name,d_surname as Dealer_surname from Dealer inner join Vehicle as  V1 on V1.fk_dealer=Dealer.d_id inner join Model on Model.model_id=V1.fk_model inner join Brand on Brand.brand_id=Model.fk_brand where V1.cost=(select max(V2.cost) from Vehicle as V2 );"
    queryDict[3]="select VIN,b_name,m_name,cost,VIN from vehicle inner join Model on Vehicle.fk_model=Model.model_id inner join Brand on Brand.brand_id=Model.fk_brand where Vehicle.fk_dealer IS NULL;"
    queryDict[4]="select c_name as Available_customer_name,c_surname as  Available_customer_last from customer where Customer.d_id IS NULL;"
    cu=con.cursor()
    
    print("Perform specific query:Find the name of best customer  and  his  dealers \n")
    print("Perform specific query:Find the most expensive model's price name model,brand and which dealer sold it  \n")
    print("Perform specific query:Inform customers about available cars \n")
    print("Perform specific query:Check available customers. \n")
    q_choice=int(input("Press 1,2,3 or 4"))
    cu.execute(queryDict[q_choice])             
    print("\n The results are: ")   
    print(cu.fetchall())

Perform specific query:Find the name of best customer  and  his  dealers

Perform specific query:Find the most expensive model's price name model,brand and which dealer sold it

Perform specific query:Inform customers about available cars

Perform specific query:Check available customers.

Press 1,2,3 or 44

 The results are:
[('Manos', 'Zaxas'), ('Irodotos', 'Xrhstoy'), ('Xristina', 'Anrwniou'), ('Kwnstantina', 'Alexandrou'), ('Maria', 'Nasou'), ('Antwnis', 'Zachariou')]